
/*==========BASIC LAYOUT=========*/
body {
	width: 100%;
	height: 1000px;
	margin: 0;
	padding: 0;	 
	background-color: grey;
}


#wrapper {
	width: 100%;
	height: 1000px;
	margin: auto 0;
	background-color: purple;
}

main {
	width: 70%;
	height: 600px;
	background-color: coral;
	float: left;
}

aside {
	width: 30%;
	height: 200px;
	background-color: lightgrey;
	float: right;
}

/*==========HEADER=========*/
#author-name {
	width: 50%;
	height: 100px;
	background-color: white;
	float: left;
}

#author-logo {
	width: 50%;
	height: 100px;
	background-color: blue;
	float: right;
}


/*==========MAIN NAVIGATION=========*/
#main-nav {
	width: 100%;
	background-color: red;
	padding: 25px 0 25px  0;
	margin: 0;

}

#main-nav ul {
	width: 100%;
	list-style-type: none;
}

#main-nav li {
	display: inline;
}


#main-nav a {
	text-decoration: none;
	color: yellow;
}

#main-nav a:hover {
	color: white;
	background-color: black;
}

/*==========ASIDE NAVIGATION=========*/
#aside-nav {
	width: 100%;
	padding: 0;
	margin: 0;
}

#aside-nav ul {
	width: 25%;
	list-style-type: none;
}

#aside-nav li {
	display: block;
}


#aside-nav a {
	text-decoration: none;
	color: yellow;
}

#aside-nav a:hover {
	color: white;
	background-color: black;
}

/*==========THUMBNAILS=========*/

.thumbnailbox {
	width: 100%;
	padding: 25px 25px 25px 25px;
	margin: 100px 10px 0 10px;
	display: inline-block;
	background-color: green;

}
.bookthumbnails {
	width: 100px;
	display: inline;
	background-color: red;

}

.bookthumbnails2 {
	width: 100px;
	//margin: 0 0 0 120px;
	//display: inline;
	background-color: white;

}


// .bookcover {
// 	width: 100px;
// 	display: inline;
// }

.bookcover2 {
	width: 100px;
	display: inline;
}

/*==========FOOTER=========*/
footer {
	background-color: yellow;
	clear: both;
}